@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-display: "Poppins", "sans-serif";
  --orange-primary: #FC4D26;
  --yellow-primary: #FEC600
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

@layer {

  body {
    width: 100%;
    height: 100%;
    @apply overflow-x-hidden font-montserrat;
    background-color: #faf5f0;
  }
}

.inputBox {
  @apply w-full border border-gray-300 rounded-[24px] font-medium placeholder-transparent focus:outline-none focus:ring-2 focus:ring-blue-500
}

.btn-primary {
  @apply w-full px-4 py-2 cursor-pointer bg-orange-primary hover:bg-black uppercase rounded-[24px] flex items-center justify-center text-white font-medium text-base tracking-wider my-3 font-kanit transition-all duration-500
}

.underline-text {
  @apply relative text-gray-900 cursor-pointer after:content-[""] after:absolute after:bottom-[-2px] after:left-0 after:h-[0.5px] after:w-full after:bg-gray-500 hover:after:bg-transparent
}

.underline-text-orange {
  @apply invisible uppercase font-kanit relative text-orange-primary font-medium cursor-pointer after:content-[""] after:absolute after:bottom-[1px] after:left-0 after:h-[1.5px] after:w-full after:bg-orange-primary hover:after:bg-transparent
}

.btn-yellow-to-white {
  @apply flex items-center justify-center gap-2 font-montserrat lg:px-4 lg:py-2 md:px-3 md:py-2 rounded-full bg-yellow-primary hover:bg-white uppercase font-bold text-black transition-all duration-500
}

.btn-yellow-to-black {
  @apply flex items-center justify-center gap-2 font-montserrat lg:px-4 lg:py-2 md:px-3 md:py-2 rounded-full bg-yellow-primary hover:bg-black uppercase font-bold text-black hover:text-white transition-all duration-500
}

.btn-orange-to-black {
  @apply flex items-center justify-center gap-2 font-montserrat lg:px-4 lg:py-2 md:px-3 md:py-2 rounded-full bg-orange-primary hover:bg-black uppercase font-bold text-white transition-all duration-500
}

@layer utilities {

  /* Thanh cuộn chung */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-track {
    background: #33383e;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    /* Mặc định - màu xám */
    border-radius: 6px;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #38475b;
    /* Màu thumb trong dark mode */
  }

  /* no scroll */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE & Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}


@layer utilities {

  /* Custom scrollbar chung */
  .custom-scrollbar::-webkit-scrollbar {
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #c0c0c0 transparent;
    padding-bottom: 4px;
  }
}



/* ----------- slide main ------------ */
.SwipperBannerMain .swiper-button-prev,
.SwipperBannerMain .swiper-button-next {
  display: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  transition: all;
  transition-duration: 2000;
}

@media (max-width: 678px) {

  .SwipperBannerMain .swiper-button-prev,
  .SwipperBannerMain .swiper-button-next {
    width: 40px;
    height: 40px;
  }

  .SwipperBannerMain:hover .swiper-button-prev::after,
  .SwipperBannerMain:hover .swiper-button-next::after {
    font-size: 12px;
  }

}

.SwipperBannerMain:hover .swiper-button-prev,
.SwipperBannerMain:hover .swiper-button-next {
  display: flex;
  transition: all;
  transition-duration: 2000;
}

.SwipperBannerMain:hover .swiper-button-prev::after,
.SwipperBannerMain:hover .swiper-button-next::after {
  font-size: 18px;
  color: #000;
  font-weight: 800;
}

.SwipperBannerMain:hover .swiper-button-prev:hover,
.SwipperBannerMain:hover .swiper-button-next:hover {
  background-color: var(--orange-primary);
}

.SwipperBannerMain:hover .swiper-button-prev:hover:after,
.SwipperBannerMain:hover .swiper-button-next:hover:after {
  color: #fff;
}

.SwipperBannerMain .swiper-pagination {
  display: none;
}

/* ------------------------------------- */
.LatestProductHome .swiper-pagination {
  display: none;
}

/* ------------------------------------- */

.SlideCategoryHome .swiper-pagination {
  display: none;
}

/* .SlideCategoryHome:hover .swiper-pagination {
  display: block;
}

.SlideCategoryHome:hover .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--orange-primary);
}

@media (max-width: 678px) {
  .SlideCategoryHome .swiper-pagination {
    display: block;
  }

  .SlideCategoryHome .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--orange-primary);
  }
} */

/* ------------------------------- */
.SlideCategory .swiper-pagination {
  display: none;
}

/* ----------------------- */
.SwipperStaffQuote .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.SwipperStaffQuote .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--orange-primary);
}

/* -------- end slide main ----------- */



.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px
}

@media (min-width: 476px) {
  .container {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px
  }
}

@media (min-width: 476px) {
  .container {
    width: 100%
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1340px;
    max-width: 100%
  }
}


/* ---------- marquee -------- */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: block;
  animation: marquee 15s linear infinite;
}

/* ---------end marquee------- */

.custom-collapse .ant-collapse-header {
  background: #fff !important;
  border-bottom: 1px solid #f3f4f6;
  border-radius: 0 !important;
}

.custom-collapse .ant-collapse-content {
  background: transparent !important;
}

.ant-modal-root {
  z-index: 9999 !important;
}



.custom-readonly-select.ant-select-disabled {
  background-color: white !important;
  color: black !important;
  opacity: 1 !important;
  cursor: default !important;
}

.custom-readonly-select.ant-select-disabled .ant-select-selector {
  background-color: #ffffff !important;
  color: black !important;
  opacity: 1 !important;
}


.menu-item-link {
  display: block;
  padding: 2px 12px;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.menu-item-logout {
  margin: 2px 12px;
  font-weight: 600;
}
